[2021-01-17 16:20] jsuarezruiz opened #1 "Feedback"
The goal of this library is to have **drawn controls** with Cupertino, Fluent and Material support for Android, iOS, macOS, Windows and Linux.
The list of initially supported controls will be the controls included in Xamarin.Forms Visual with the same properties and events: Button, Slider, Entry, etc.

**Your feedback is welcome!**

[2021-02-03 13:31] saint4eva commented on #1
@jsuarezruiz Firstly, you are doing a nice work - keep it up. Could you produce a NuGet package so we can test the library? Thanks

[2021-02-04 08:18] sattasundar opened #4 "Feedback for some additional view"
I think you guys are doing awesome works.

But I have some observation regarding Entry/Editor/Picker as Outlined control.

e.g.
![](https://help.syncfusion.com/xamarin/text-input-layout/Container-Type-images/textInput_container_img2.png)

Basically we can say InputLayout.

If we make this Outline as Property for supported control.

[2021-02-05 08:00] timahrentlov commented on #1
I like it! How easy will it be to extend or change the controls compared to the handler/renderer approach?

It would also be nice to get a couple of navigation controls that in combination with the MVU paradigm could be used to implement a flutter-esque SPA architecture that does not use the current XF page concept.  I'm thinking of drawn replacements for NavigationPage, TabPage, Flyout page + new

[2021-02-07 00:46] webprofusion-chrisc commented on #1
Hi! The gold standard for cross platform is when you can do the major platforms *and* web. Uno tackles this with WASM, could these controls be made to work?

Very excited to see drawn controls. Accessibility is obviously the priority, followed by functionality, performance (and style-ability?)

[2021-02-08 08:47] jsuarezruiz commented on #1
Thank you all for the feedback.

@saint4eva Having a simple way to test is definitely a better way to get feedback. For now, you can sync the repository and try the sample. Later we can generate NuGet packages on GitHub. It will be when progressing more with  https://github.com/dotnet/GraphicsControls/blob/master/STATUS.md

@timahrentlov I have updated the README with an example of how it will be

[2021-02-08 08:52] jsuarezruiz commented on #4
The initial idea is to have all the controls available in Visual Xamarin.Forms, with the same possibilities (properties, events etc):

- ActivityIndicator
- Button
- Check box
- DatePicker
- Editor
- Entry
- Frame
- Picker
- ProgressBar
- Slider
- Stepper
- TimePicker

This would be to have a Core of drawn controls with high performance, customization possibilities and with support for accessibili

[2021-02-20 15:56] sattasundar commented on #4
yeah, great idea. -:)

[2021-02-20 17:57] Cfun1 commented on #1
I really enjoyed the concept because from simple things + your imagination you can build amazing things, and at the same time you don't loose performance. Also I enjoyed the video where you explained step by step the concept and how to build a control you made the task fun, it is very helpful and wish to see more maybe a part 2. I was wondering whether it is possible to access to the Canvas someho

[2021-02-23 16:05] jsuarezruiz commented on #4
@sattasundar I saved the idea for the future, for now being focused on implementing the Core of the controls without extra properties or functionality, I am going to close the issue. Thanks for the feedback!

[2021-02-23 16:05] #4 closed

[2021-03-02 17:45] charlesroddie commented on #1
#### We want this!
This is a great project. There is a huge demand for platform-independent rendering which is always blocked by the history of Xamarin. This library could end up becoming the best option for the majority of XF/Maui developers, allowing them to:
- Avoid things looking different on different platforms
- Avoid platform-dependent bugs
- Depend on a higher quality repo since contributi

[2021-04-13 19:43] lytico opened #19 "refactor to use Microsoft.Maui.Graphics"
maybe the whole project could be refactored based on

https://github.com/dotnet/Microsoft.Maui.Graphics

so that all platform specific code comes from there

remark:
MAUI is now based on Microsoft.Maui.Graphics, see: https://github.com/dotnet/maui/commit/b1866fd187b7e94c449e5617ff315b8dfe5576ed

[2021-04-14 08:48] jsuarezruiz commented on #19
The project is based on System.Graphics that now, is Microsoft.Maui.Graphics and yes, the project will be updated to use Microsoft.Maui.Graphics and also use the Handlers architecture.

[2021-04-14 12:00] lytico commented on #19
thanks for explanation! i wasn't aware that System.Graphics == Microsoft.Maui.Graphics
i just looked into the code, and have overseen that it's mentioned in https://github.com/dotnet/GraphicsControls#readme

[2021-04-14 12:00] #19 closed

[2021-04-25 18:57] AliShahesmaeili commented on #1
@jsuarezruiz Hi, good work!
Neumorphism is a new design style!
Please consider this style as well
[Some UI UX with Neumorphic](https://dribbble.com/search/Neumorphic%20)

[2021-04-26 17:04] nerocui commented on #1
This is such great work!

I was researching the other day about things like this. I know that MAUI currently has no plan to target web, but this could change so much. A lot of web apps are slow and heavy, but if this could work with WebGPU (which is much faster then WebGL) and Web Assembly, web apps could be running at near native speed. And people can finally stop using Electron just because it a

[2021-05-16 18:40] KSemenenko commented on #1
We also need some gestures.

[2021-06-28 15:18] danardelean commented on #1
This library should be officially be supported by Microsoft . I know that it is a lot of work but with just 2 contributors ( Javier is one and the other 3 looking at the commits still fall behind so counting as 2) this library is already really good.
I don't think we need design parity perfection (even if it would be welcomed) but the benefits on performance side would make it worth the investment

[2021-07-02 05:20] saamerm opened #30 "Community Help"
@jsuarezruiz
I came here from today's community standup!
@davidortinau mentioned that this repo could use some help from the community.
Should we create some issues for organization?

[2021-07-07 14:15] jsuarezruiz commented on #30
Thanks for the interest!
After merging https://github.com/dotnet/Microsoft.Maui.Graphics.Controls/pull/29 I will create a status Wiki and associated issues so that anyone in the community could collaborate.

[2021-07-07 17:53] kerberosargos commented on #1
Hello when will you create nuget package?

[2021-07-12 15:32] jsuarezruiz commented on #1
@kerberosargos By implementing animations and other small pending details. I would say that in the next few weeks the first package will be ready.

[2021-07-13 09:10] kerberosargos commented on #1
@jsuarezruiz Thank you for your effort.

[2021-08-02 18:04] listepo commented on #1
@jsuarezruiz How to add prefix and suffix text for Entry(Material)? Is it possible? Or need to create a new control?

[2021-08-12 06:06] Martinn2 commented on #30
Any news here ?

[2021-08-12 19:01] jsuarezruiz opened #41 "Add Dark Theme Support in Fluent Design"
Fluent is an open-source, cross-platform design system by Microsoft: https://www.microsoft.com/design/fluent

What should you do?
- Use the official Figma file to validate the correct colors, etc: https://www.figma.com/community/file/989931624019688277
- Use Application.Current?.RequestedTheme and other Color methods extensions to apply the correct color when the system or app theme is Dark.
- Sen

[2021-08-12 19:07] jsuarezruiz opened #42 "Add Dark Theme Support in Cupertino Design"
Apple iOS controls: https://developer.apple.com/design/human-interface-guidelines/ios/controls/buttons/

What should you do?
- Use the Figma file to validate the correct colors, etc: https://www.figma.com/community/file/857576771468552929
- Use Application.Current?.RequestedTheme and other Color methods extensions to apply the correct color when the system or app theme is Dark.
- Send a PR with th

[2021-08-12 19:12] jsuarezruiz commented on #30
@Martinn2 Yes, already adding issues with specific tasks that anyone in the community can choose from.

[2021-08-12 19:12] #30 closed

[2021-08-12 19:14] jsuarezruiz opened #43 "Add RTL support to Material Drawables"
Some languages, such as Arabic and Hebrew, require that UI elements are laid out in a right-to-left flow direction. This can be achieved by setting the `FlowDirection `property.

Use the control FlowDirection property to correctly draw everything in a left-to-right and right-to-left Flow.

[2021-08-12 19:15] jsuarezruiz opened #44 "Add RTL Support to Cupertino Drawables"
Some languages, such as Arabic and Hebrew, require that UI elements are laid out in a right-to-left flow direction. This can be achieved by setting the `FlowDirection `property.

Use the control FlowDirection property to correctly draw everything in a left-to-right and right-to-left Flow.

[2021-08-12 19:16] jsuarezruiz opened #45 "Add RTL Support to Fluent Drawables"
Some languages, such as Arabic and Hebrew, require that UI elements are laid out in a right-to-left flow direction. This can be achieved by setting the `FlowDirection `property.

Use the control FlowDirection property to correctly draw everything in a left-to-right and right-to-left Flow.

[2021-09-20 20:26] Martinn2 commented on #1
I really like the idea of drawn controls! Hopefully more effort will come here in future.
I am not sure how layouting of controls will be solved. If I want to use this package on native platform and web, I cannot use StackLayout and others as they are part of .NET MAUI right? So if we want this to be independent of MAUI we need to handle layouting as well. Is this also the target of this project?

[2021-09-21 14:40] jsuarezruiz commented on #1
@listepo Could be possible but not already implemented.
@Martinn2 Yes, at the moment is using the .NET MAUI Layouts, so have some dependencies for now. The initial goal is to have solid, stable, high-performance, easy-to-customize pixel perfect controls. After complete this first milestone (Cupertino, Material and Fluent), other options could come. And using SkiaSharp in Linux, WebGL for the web e

[2021-10-01 08:43] IainCoSource opened #52 "Label Control Missing"
The library seems incomplete without a label. If you can't draw text you loose the benefit of everything looking the same across all platforms.

[code]

[2021-10-01 08:46] IainCoSource opened #53 "List Controls currently implemented in ReadMe.md"
Add a list of controls that have been implemented so far.

[2021-10-01 08:57] IainCoSource opened #54 "Example using drawn controls in XAML"
Current sample uses MainPage.cs with no example in XAML.

[2021-10-01 12:38] KSemenenko commented on #1
I love this library. My UIs are 99% the same between platforms.
I did something similar for myself a couple of years ago, but it was only for some tasks.
And I really liked that approach.
I don't want to bother with the native UI when I don't need it.
Especially complex shadows. Especially complex elements.

It would also be great to be able to create my complex components. Which sometimes I need

[2021-10-09 13:37] IvoKrugers commented on #1
I love this!! It is so often that we need to tweak the UI to get a consistent experience across platforms.

[2021-10-11 16:24] jsuarezruiz commented on #52
We can split the implementation into three phases:
- Basic: Implement Text, TextColor, HorizontalTextAlignment, VerticalTextAlignment properties.
- Advanced: Implement TextDecoration, MaxLinex and Font properties.
- Complete: Implement TextType property with other pending properties.

[2021-10-11 16:38] jsuarezruiz opened #56 "[Enhancement] Image"
Create a drawn **Image** control.

[2021-10-11 16:40] jsuarezruiz opened #57 "[Experiment] GraphicsControls in Linux using SkiaSharp"
Create the basic stuff to have a Gtk 3 .NET MAUI App and a SkiaSharp GraphicsView implementation to draw and allow to use the control on Linux.

[2021-10-11 16:41] jsuarezruiz opened #58 "[Experiment] GraphicsControls in the web"
Create the basic stuff to have a Blazor .NET MAUI App and a SkiaSharp GraphicsView implementation to draw and allow to use the control on the web.

[2021-10-11 16:45] jsuarezruiz opened #59 "Create NuGet packages"
Currently there are some pipeline stuff but the build is failing because the project structure has changed.
Start **fixing the build** and create a nightly **feed** where devs could start using and playing with the library.

[2021-10-11 17:38] jsuarezruiz opened #60 "Create Benchmarks"
Create benchmarks where compare:
- The **rendering time** of a page loading 1, 10 and 100 controls comparing native vs drawn. Example: 100 Slider.
- **Memory usage** with 1, 10, and 100 controls again, comparing native vs drawn.

[2021-10-12 12:22] IainCoSource commented on #52
Would it make it easier to split it into 2 controls HtmlLabel and Label (similar to horizontal and vertical stack that we now have in MAUI) or is the goal to keep it 100% the same as the standard control?

On the Microsoft Maui Graphics there is https://github.com/dotnet/Microsoft.Maui.Graphics/issues/21 would this affect or delay the implementation of Html part of the control?

[2021-10-12 14:36] #59 closed

[2021-10-12 14:39] jsuarezruiz opened #63 "Update README with Nightly feed"
Include in the main README information about how to get access to the Nightly feed and how to try it.

[2021-10-12 14:41] jsuarezruiz opened #64 "Update the Wiki"
Update the Wiki with:
- Information about **prerequisites** and how to compile and **collaborate** with the project.
- Include a **Faq** with the common questions (platforms supported, etc).

[2021-10-13 00:36] glennawatson commented on #60
Happy to jump in and help with this one.

[2021-10-13 08:05] jsuarezruiz opened #66 "[Enhancement] RenderMode property"
Include a **RenderMode** property.

`RenderMode = "Native|Skia"`

This way we allow to choose if render the control using the native drawing APIs or SkiaSharp.

Use native drawing APIs

Pros
- Does not require adding any extra library, the size of the App package is not increased.
- Pixel perfect mostly all the cases.

Cons
- In a really high number of cases, we can achieve exactly the same render

[2021-10-13 08:46] #64 closed, assigned to jsuarezruiz

[2021-10-13 08:47] jsuarezruiz commented on #63
Gerald added the Nightly Feed to README.md

[2021-10-13 08:47] #63 closed, assigned to nobody

[2021-10-13 08:58] jsuarezruiz commented on #1
@IvoKrugers Using https://visualstudio.microsoft.com/vs/mac/preview/ you could get to compile etc, although details are still missing to have the same level as in Windows.

[2021-10-13 12:11] jsuarezruiz opened #69 "Add Showcases samples in the Sample"
The idea would be to add access to some showcases where:
- Replicate Dribbble or similar designs using the drawn controls.
- Take advantage of the possibilities of extension or customization of the drawn controls.

![image](https://user-images.githubusercontent.com/6755973/137131384-82316ec4-2205-4822-916d-c1f6b76fe26f.png)

I'm thinking that maybe we could make this a kind of **contest**. Establi

[2021-10-13 18:16] RChrisCoble opened #71 "Add Radio Buttons as one of the base controls"
Request is to add [Radio Button](https://material.io/components/radio-buttons) support to the Graphics.Controls Repo.

In our UC we need to mix graphics and controls on the same canvas.  We ultimately need support of the following controls:

- Radio Buttons
- Check boxes
- Edit Box
- Combo Box
- Calendar Control
- Date Time picker
- Simple List Box

I believe the only controls missing are Radio Bu

[2021-10-14 09:04] jfversluis opened #72 "Move the WinUI project into the single-project sample project"
The WinUI project is still a separate one now, with the latest tools and changes we should be able to move that into the single project :)

[2021-10-14 12:33] jsuarezruiz opened #74 "Option to choose between Cupertino, Material and Fluent in MauiAppBuilder"
Allow to choose in an easy way if want to use Cupertino, Material or Fluent design.

[code]

Update `ConfigureGraphicsControls` extension method to pass a parameter that allow select the Drawable to use with the drawn controls.

[2021-10-14 14:29] #74 closed, assigned to jsuarezruiz

[2021-10-14 20:23] davidortinau opened #76 "[Bug] Controls don't layout properly horizontally"
I've used both `HorizontalStackLayout` and `StackLayout` with horizontal orientation, and in both cases the buttons are offscreen left.

[code]

<img width="375" alt="image" src="https://user-images.githubusercontent.com/41873/137389640-dca9c5cb-f60a-49c8-82c7-6ad52a9a6a51.png">

Turning everything vertical lays out ok.

[code]

<img width="379" alt="image" src="https://user-images.githubuserconte

[2021-10-14 20:24] davidortinau opened #77 "[Bug] Button doesn't display ImageSource"
I have some buttons with icon fonts for the image source and the label. In neither case do they display.

![image](https://user-images.githubusercontent.com/41873/137390140-61fc659a-2092-4774-8a67-d57acc303da1.png)

[code]

Build 9.217
Fluent

[2021-10-14 20:31] davidortinau opened #78 "[Bug] CheckBox doesn't handle gestures"
I cannot click/tap the checkbox to change selection state.

<img width="383" alt="image" src="https://user-images.githubusercontent.com/41873/137390907-f469ed12-7584-4e73-8b43-1e8ef6393be2.png">

[code]

[2021-10-14 20:32] davidortinau opened #79 "[Bug] CheckBox doesn't accept color"
I'm setting the color to red, but it still displays blue.

![image](https://user-images.githubusercontent.com/41873/137391134-bc72a14d-bb2a-4e2e-8087-072faf0f3c68.png)

[code]

[2021-10-14 20:36] davidortinau opened #80 "[Bug] ProgressBar doesn't respect ProgressColor"
<img width="458" alt="image" src="https://user-images.githubusercontent.com/41873/137391610-89c78535-89a1-4ade-bf7e-bcb28afd14c9.png">

[code]

[2021-10-14 20:38] davidortinau opened #81 "[Bug] Slider cannot drag handle"
I can click the track to move the handle, but cannot grab and drag the handle.

<img width="451" alt="image" src="https://user-images.githubusercontent.com/41873/137391884-d8d4c0e3-cc5f-479c-b2bf-a7cab8224473.png">

[code]

[2021-10-15 07:35] jsuarezruiz commented on #77
For now, is expected because the ImageSource and font Icons are not implemented. We definitely have to implement this.

[2021-10-15 07:39] jsuarezruiz commented on #80
Now is possible to implement it: https://github.com/dotnet/maui/blob/main/src/Core/src/Core/IProgress.cs

[2021-10-15 10:31] jsuarezruiz commented on #79
Is not implemented. Was waiting to have https://github.com/dotnet/maui/blob/main/src/Core/src/Core/ICheckBox.cs#L18 the property in .NET MAUI Core. Now is possible to implement it.

[2021-10-15 16:30] #79 closed, assigned to jsuarezruiz

[2021-10-15 16:30] #80 closed, assigned to jsuarezruiz

[2021-10-15 16:58] jsuarezruiz opened #85 "[Experiment] Cross Frameworks Controls"
What if we can create drawn controls and be able to use them independently of the UI framework? In this way, a control for example DataGrid created for WinUI could be used in .NET MAUI or perhaps Avalonia without problems.

What would we need?
- Create libraries for WinUI, Avalonia etc where GraphicsView (view that exposes the Canvas where to draw) is implemented in each platform using the best op

[2021-11-11 13:57] bricefriha commented on #77
Hi @jsuarezruiz, Are you currently working on this implementation? 🙂

[2021-11-11 14:55] andreinitescu commented on #1
There are two main questions I have about this approach:
- Accessibility

- Extensive performance comparison compared to the native controls (for example compare the time to display a drawn Button to a native Button) **on all** the platforms (because in the context of cross-platform of at least iOS and Android, it doesn't matter if it works well on iOS if it's bad on Android, or viceversa)

It won

[2021-11-11 17:28] jsuarezruiz commented on #1
All the drawn controls use a native canvas that have a native view as parent. We already map the **a11y** options related with the screen reader taking advantage of that native part. High contrast colors, for example, would use another totally different implementation, it would rather detect the use of high contrast (today, for example, the change of theme is detected) and adjust colors, etc.

Abo

[2021-11-12 06:14] andreinitescu commented on #1
Yes, that's the kind of big challenges I was referring about, which on long term need a lot of maintenance.

[2021-11-12 19:11] wouterst79 commented on #1
it may be time to set up a call with a few of us to show you guys some of the things the fluidsharp library can do and discuss how this might help your efforts

[2021-11-13 09:48] jsuarezruiz commented on #77
I have it in queue, but not right now.

[2021-11-15 05:06] congzhangzh commented on #57
this works or not?

[2021-11-15 13:02] jsuarezruiz commented on #1
@wouterst79 Sure thing, just write me an email and we can organize a meeting :)

[2021-11-18 13:08] congzhangzh commented on #57
@jsuarezruiz can you give more overview or more details idea, maybe I can give a hand.

BTW, I know wpf & gtk very much and work on wpf&C++ for 10 years.

[2021-11-19 09:03] jsuarezruiz commented on #57
Sure, let me explain it better. I have done some tests using Gtk and SkiaSharp, and the idea would be:
- Create a target for Linux using Gtk or use: https://github.com/jsuarezruiz/maui-linux We need "only" the Core necessary to create the native window.
- Use: https://github.com/dotnet/Microsoft.Maui.Graphics/tree/a46ffe17dae9cd9ec339eceac524541b0d801c24/src/Microsoft.Maui.Graphics.Gtk to be able

[2021-11-19 13:11] jsuarezruiz commented on #41
https://www.figma.com/community/file/1035524331682993208

[2021-11-19 15:58] wouterst79 commented on #1
i've sent a mail, and have updated my e-mail on github just in case

[2021-11-20 02:38] congzhangzh commented on #57
@jsuarezruiz tks for your reply

it seems maui main repo has change so much, is this usable directly like https://github.com/dotnet/maui/tree/main/src/Compatibility/Core/src/GTK @davidortinau

btw, at first i think this repo maybe possible to do something like cross platform wpf, whick I just need:
1. Implement something like presentsource to render view on native window in gtk(this repo has done)

[2021-11-20 13:21] redradist opened #91 "Renderer architechure of composable Maui.Graphics.Controls"
Hi all,

I have found this project recently and I am curious is there an architecture for rendering of Graphics Controls in this repo ?

For example Avalonia doing the something similar, they use underlying draw system, but they have composability of graphic controls and due to this they have renderer architecture (Main Thread and Renderer Thread)

Do you have already specified the renderer archit

[2021-11-22 17:32] Eilon commented on #57
@congzhangzh - Blazor syntax and files are adaptable to almost any UI system. We have an experimental project where it was adapted to render native Xamarin.Forms controls here: https://github.com/dotnet/MobileBlazorBindings/

Maybe some day we will have this as an option for .NET MAUI in an official supported product, but we're not yet working on that.

[2021-11-22 18:04] congzhangzh commented on #57
@Eilon Tks for you reply, seems very promising, maybe that will be a good combine with maui+self draw+blazor, performance maybe a big issue, but should good for simple light mobile usage

https://github.com/dotnet/MobileBlazorBindings/tree/main/src/BlinForms.Framework

https://github.com/dotnet/MobileBlazorBindings/tree/main/src/ComponentWrapperGenerator

[2021-11-23 04:59] congzhangzh commented on #57
@jsuarezruiz hi, I have an overview about Microsoft graphics and Microsoft graphics controls now
But Create a target for Linux using Gtk is hard, not for coding part but for .net config stuf, like

SDK, TFM, Workload, props file, target file, especially for maui on linux.

maybe you can rebase you maui linux fork, make the init config part work.

the implement part should be easy to iterate:)

[2021-11-24 01:06] congzhangzh commented on #57
@jsuarezruiz hi, maybe we can add a net6-linux-skia-gtk custom target frameworks,  which easy integration to current solution file?

[2021-11-24 15:20] congzhangzh commented on #57
I make the GraphicsTester.Skia.Gtk project work on linux after some work, great!

should all the project be migration to 6.0 first? or keep net standard 2.0, this will block Microsoft.Maui.Graphics.Control on linux, as all maui related work based on 6.0 @jsuarezruiz

BTW, I block on properly config Microsoft.Maui.Graphics.Controls for work on Linux? I am digging on props and target file, and maybe

[2021-11-28 01:08] robloo commented on #85
Implementing a control once and then sharing it among all UI frameworks would be wonderful. We have all written and re-written the exact same control so many times over the years it's a lot of wasted time. That said, you can't do this level of abstraction with ONLY a graphics stack. Granted, the graphics stack is a lot of it (a composition layer like in WinUI would go a long way to write once).

T

[2021-11-29 17:29] lytico commented on #57
@congzhangzh there is a ongoing work to implement maui over gtk in this tree:

https://github.com/jsuarezruiz/maui-linux/tree/main-linux

maybe you can "plunder" something from there, as getting the main window etc.

[2021-11-30 00:04] congzhangzh commented on #57
tks，very cool
I hope we can add a new maui-gtk workload, which focus on self draw solution, and works cross desktop:)

[2021-11-30 19:36] #41 closed

[2021-12-04 03:46] congzhangzh commented on #57
One more foundation question, each control will tie to one skiacanvas or as whole?

btw, fyi, I have make maui core pass build for linux.

I reference winui platform implement, need future step on for a simple gtk maui application, which will show all selfdraw control in a stackpanel

[2021-12-04 03:47] congzhangzh commented on #57
@lytico @jsuarezruiz Can you explain that?

[2021-12-08 20:02] redradist commented on #91
Looks like these controls do not allow something like in Flutter/Avalonia - Widget architecture (full UI is drawn)
Do ou have plans to add such support

[2021-12-09 10:04] jsuarezruiz commented on #91
Could you share links to review what other frameworks are doing?.

[2021-12-09 10:33] jsuarezruiz commented on #1
@wouterst79 Sent an email with a proposal for a meeting, let me know if that is fine for you :)

[2021-12-09 21:31] redradist commented on #91
Yes, of course:

1. Uno Platform https://platform.uno/pixel-perfect
2. Flutter https://www.youtube.com/watch?v=996ZgFRENMs, there are much more other links
3. Avalonia UI https://youtu.be/RTXNJ0vENlA?t=1155 (video in Russian, but I hope auto-translation and timestamp will help to understand rendering mechanism)

[2021-12-10 13:15] jsuarezruiz commented on #85
Well, you are right that my proposal it is not as detailed as it should, I will update it.

In each platform, in addition to allowing drawing, it would be necessary to have an abstract API to manage interaction events (touch, etc this already is implemented). You are right that it would also take quite a few more options in the abstraction layer to cover other details. Although I think that, being

[2021-12-10 18:29] robloo commented on #85
This area has always been an interest of mine. Rewriting the same control a few times will tend to start one thinking about what can be done differently :)

I have the least concern about this :) WinUI is already generating property code automatically from IDL files.

I think my overall point is simply that all UI frameworks started with a similar concept of sharable controls. Whether or not it's

[2021-12-13 00:54] ToolmakerSteve opened #96 ""The project doesn't know how to run the profile GraphicsControls.Sample.WinUI""
Trying to build+run this on VS 2022, Version 17.1.0 Preview 1.1.

Build does not give errors - though it does give a warning at top of file (Visual Studio ran into an unexpected error ...) and generates a log file:

[VsProjectFault_Graphics_Controls_WinUI.failure.txt](https://github.com/dotnet/Microsoft.Maui.Graphics.Controls/files/7700237/VsProjectFault_Graphics_Controls_WinUI.failure.txt)

Run o

[2021-12-13 03:36] ToolmakerSteve commented on #96
Discovered that project's Dependencies have yellow warning triangle on:

* SDK
* * Microsoft.UniversalCRT.Debug
* * Microsoft.VCLibs
* * Microsoft.VCLibs.Desktop

Properties show these are Version=10.0.19041.0.

What are these referring to?

Could this cause failure to deploy?

I do have 10.0.19041.0. Windows SDK installed.

[2021-12-13 06:17] ToolmakerSteve commented on #96
Progress. Reinstalled some extensions:
* MSIX
* Windows App SDK C# (and C++) VS2022 template

Something I did got Visual Studio to realize there were missing items, this happened:

Now able to build.

HOWEVER: Those yellow triangle warnings on Dependencies / SDK / ... are still there.

When (F5) start Graphics.Controls.Sample.WInUI, get this exception:

[2021-12-13 17:59] wouterst79 commented on #1
Hey Javier, it was nice meeting with you today!

I have summarized the user (developer) benefits of using "FluidSharp" as follows in the past:

* A high performance mobile first multi-platform UI layout framework.
* Built on top of Skia, just like Chrome and Flutter.
* Integrates with Xamarin Forms, Xamarin.Android, Xamarin.iOS, WinFormsCore and more.
* Use it as a view, or to draw your whole app

[2021-12-15 01:37] congzhangzh commented on #57
Fyi, I finish a basic script for linux core build

[code]

[2021-12-15 01:44] congzhangzh commented on #57
One more question, base on the basic maui library, maybe we can implement GTKMauiApplication, GTKMauiWindows,GTKMauiGraphicsView out of MAUI source tree and Microsoft.Maui.Graphics.Controls tree, which should easy to maintain?
How about this idea? @jsuarezruiz @lytico

[2021-12-15 01:55] congzhangzh commented on #57
Fyi.
https://github.com/dotnet/maui/tree/main/src/Core/src/Handlers/Application
https://github.com/dotnet/maui/tree/main/src/Core/src/Handlers/Window
https://github.com/dotnet/maui/tree/main/src/Core/src/Handlers/GraphicsView
https://github.com/dotnet/Microsoft.Maui.Graphics.Controls/blob/main/src/GraphicsControls.Sample/GraphicsControls.Sample/MauiProgram.cs
https://github.com/dotnet/Microsoft.Ma

[2021-12-15 02:04] congzhangzh commented on #57
one version by pure code and without xaml support should be possible

[2021-12-15 13:34] lytico commented on #57
https://github.com/jsuarezruiz/maui-linux/blob/main-linux/src/Core/src/Handlers/Window/WindowHandler.Gtk.cs
https://github.com/jsuarezruiz/maui-linux/blob/main-linux/src/Core/src/Handlers/GraphicsView/GraphicsViewHandler.Gtk.cs

Handlers.Application is not implemented by now.

[2021-12-15 13:35] congzhangzh commented on #57
More part maybe help https://github.com/dotnet/Microsoft.Maui.Graphics.Controls/blob/main/src/GraphicsControls/Platform/Windows/NativeGraphicsControlView.cs
https://github.com/dotnet/Microsoft.Maui.Graphics.Controls/blob/main/src/GraphicsControls/Handlers/GraphicsControlHandler.Windows.cs

https://github.com/dotnet/Microsoft.Maui.Graphics.Controls/blob/main/src/GraphicsControls/Handlers/GraphicsCo

[2021-12-15 23:41] ToolmakerSteve commented on #85
I basically agree with @robloo. To me, the most important goal is being able to use ONE standard everywhere. Without all the issues XForms has, trying to use native controls.

.Net just needs MAUI to have the option of using this "render to bitmap" approach EVERYWHERE. No more native controls. No more messing with slightly different versions of XAML.

Demonstrate that. Show that MAUI could (if you

[2021-12-17 20:06] ToolmakerSteve commented on #91
@redradist - such a hierarchy is in MAUI itself. Would be redundant to have that here, IMHO.

The outcome I am hoping for is Maui > these Graphics.Controls > Maui.Graphics > bitmap > everywhere.

[2021-12-28 12:01] jsuarezruiz commented on #96
Have you installed https://marketplace.visualstudio.com/items?itemName=ProjectReunion.MicrosoftSingleProjectMSIXPackagingToolsDev17?

[2022-01-01 21:13] listepo commented on #85
@jsuarezruiz I think we need [partial properties](https://github.com/dotnet/csharplang/discussions/3412)
I tried to use private fields, but not used fields do not look very nice
for example:
[code]
can you have any thoughts?

[2022-01-06 06:02] juepiezhongren opened #99 "support control template and storyboard"
please

[2022-01-09 16:37] byme8 commented on #60
@glennawatson Any news on this ticket?

[2022-01-12 15:53] jiafuzhang commented on #57
Great!

[2022-01-16 11:28] hintsofttech commented on #85
**can it render to web** as well **directly without any css/html** ?

[2022-01-16 11:52] hintsofttech commented on #58
**can you please refer us a sample project
for cross platform rendering including web ?**

[2022-01-17 06:52] Suriman commented on #85
@jsuarezruiz, @hintsofttech's question is very important. Any answer regarding it?

[2022-01-20 13:44] jsuarezruiz commented on #85
Maui.Graphics has a **WebGL** implementation https://github.com/dotnet/Microsoft.Maui.Graphics/tree/main/src/Microsoft.Maui.Graphics.Blazor and GraphicsControls makes use of this library for drawing. I have done small tests (related with other platforms, like Linux etc). It would be necessary to create and map what is necessary to launch .NET MAUI Apps on the web and complete some implementations

[2022-01-20 16:21] #96 closed

[2022-01-20 16:21] jsuarezruiz commented on #72
Done https://github.com/dotnet/Microsoft.Maui.Graphics.Controls/pull/101

[2022-01-20 16:21] #72 closed

[2022-01-20 16:44] Suriman commented on #85
Thank you very much, that's good news.

[2022-01-30 20:10] ScottArbeit opened #105 "Can't compile a Windows app using this library"
Hi! Quick question: I'm trying this library for the first time, and I use Windows, so I was hoping to just compile a Windows app to look at things. When I select Windows in the platform drop-down, I get errors, as shown:

<img width="677" alt="image" src="https://user-images.githubusercontent.com/2406993/151715635-03e4822c-47d4-4aed-82e2-849d0b93d0ef.png">

<img width="809" alt="image" src="https:

[2022-02-07 03:45] dev-thinks commented on #105
yes. not compiling with windows. bump when try adding it from nightly build.

[2022-02-25 17:32] EthanHipps commented on #105
@tobiasbaur I encountered a similar error today when I tried adding the library to my project. Preview 13 too, but building for Android instead of Windows. If I comment out `.ConfigureGraphicsControls(DrawableType.Material)` the project builds and works without issue.

![image](https://user-images.githubusercontent.com/13156894/155758431-deffe473-3795-4375-821f-8b2f6f4045d7.png)

The Exception:

[2022-02-27 12:49] jsuarezruiz commented on #105
This issues with Preview 13 will be fixed with https://github.com/dotnet/Microsoft.Maui.Graphics.Controls/pull/106 (in progress)

[2022-03-03 10:00] RaulRG commented on #1
This is such a great project. I do hope this will be the future of MAUI. Drawing the controls is the way to go and would enable such "crazy" things like having a Web version of MAUI using WebAssembly. Skia is already available as a wasm library and at least in theory such a thing would be possible. Kind of hybrid between Blazor and MAUI.
HUGE potential!

[2022-03-24 03:55] manishbisen opened #108 "Is this project is dead ?"
There is no any activity or progress on this project repo from long time.

What is the future of this project ?

[2022-03-24 06:33] Suriman commented on #108
Good question! I have the same.

[2022-03-26 15:23] CsabaStupak opened #109 "System.TypeLoadException on default Maui application on Android"
I imported the NuGet package _6.0.101-nightly.253_, added the `.ConfigureGraphicsControls()` to `CreateMauiApp `method. I'm trying to run the _"Hello World"_ application and it crashes immediately with exception:

[code]
I'm trying to run it on the default _Android Emulator -  Android 8.1 - API 27_. Also tried on _Andoid 12.0 - API 31_.
Any idea what could be wrong?

[2022-03-30 12:58] jsuarezruiz commented on #108
**The project is not dead**!. But now is in an experimental phase. We are validating if it is an interesting option to include with .NET MAUI. The main PRs and changes are to keep itup to date with the latest versions of .NET MAUI as well as validate possible questions related to accessibility, performance etc.

[2022-03-30 13:02] jsuarezruiz commented on #109
This issue will be fixed with https://github.com/dotnet/Microsoft.Maui.Graphics.Controls/pull/106
In the latest Microsoft.Maui.Graphics versions `Microsoft.Maui.Graphics.Native.NativeGraphicsService` has renamed to `Microsoft.Maui.Graphics.Native.PlatformGraphicsService`.

[2022-04-02 18:35] manishbisen commented on #108
@jsuarezruiz  I guess this is the most demanded feature in .net maui & to compete with competitor like flutter.
Still why Microsoft is validating it in this area ?

[2022-04-16 22:59] PandaTechMobile commented on #108
Very interested in this project so I hope it continues. Great work btw!

[2022-04-18 07:54] jsuarezruiz commented on #108
Decisions are based on many different types of metrics. From your comment here, to the interest in the repository or many interviews with developers and companies. Collecting the data and analyzing it correctly takes time. If you want to share your feedback with more details, I encourage you to do it here or share it with teammates like @davidortinau

[2022-04-20 05:38] TripleView commented on #108
i like this project

[2022-04-23 15:44] Mephisztoe commented on #108
@jsuarezruiz, you say "The main PRs and changes are to keep itup to date with the latest versions of .NET MAUI". So is the latest nightly build available through the documented nuget feed (as of writing this would be 6.0.101-nightly.253) compatible with .NET MAUI RC1 and all its breaking changes since P14?

[2022-05-03 15:48] RedChops commented on #76
I was able to work around this using Grid instead of StackLayout. Different layout objectives, but it did lay out horizontally properly, fwiw

[2022-05-10 01:11] IndianaGary commented on #91
Actually, Xamarin Forms had the Visual property that supported various drawn controls, such as Material, Fluent, and Cupertino. These were intended to be implemented as drawn controls that could be used on any platform. It strikes me that this project offers an alternative approach.

[2022-05-10 15:31] jsuarezruiz commented on #108
This PR include support for .NET MAUI RC2 https://github.com/dotnet/Microsoft.Maui.Graphics.Controls/pull/106, but need to update CI to generate the new packages.

[2022-05-21 20:55] redradist commented on #91
@jsuarezruiz Do you know something from Microsoft abount implementating completly its own render system based on Microsoft.Maui.Graphics ?
Something that will draw on single canvas and works similar way it is done in Flutter or JetPack Compose (new Android approach, similar to Flutter) ?

[2022-05-23 23:02] AgPeHaJIuH1 commented on #108
i like this project!!!

[2022-05-24 22:28] codymullins commented on #108
@jsuarezruiz would like to try this out, any kind of ETA on getting this new package released?

[2022-05-26 12:34] jsuarezruiz commented on #109
The issue is fixed now.

[2022-05-26 12:37] jsuarezruiz commented on #108
Yesterday we merged a PR to use .NET MAUI GA versions. The build is running and the nightly working. The latest package have been created today.

[2022-05-27 08:09] nacompllo opened #112 "The slider control cannot be moved when you move the mouse away from the slider control even if you have the click pressed"
![V1zaxKHmw1](https://user-images.githubusercontent.com/20904914/170657175-6f004ebc-2ebc-4385-aa11-c0aa18ed62f3.gif)
![chrome_YHkBRz3Q8h](https://user-images.githubusercontent.com/20904914/170658375-a008052d-f7c5-44b1-843c-676239b0642e.gif)

<img width="800" height="500" src="https://user-images.githubusercontent.com/20904914/170657175-6f004ebc-2ebc-4385-aa11-c0aa18ed62f3.gif">

![sliderIssue](htt

[2022-05-27 16:47] nacompllo opened #113 "Does it make sense for the Placeholder property of IPlaceholder to be read-only?"
I'm fixing a bug in the Editor control in Android where the PlaceHolder doesn't disappear when text is typed in the Editor, but I've run into a bug where the Placeholder property of IPlaceholder is readonly which I don't think makes much sense.

<img width="711" alt="test04" src="https://user-images.githubusercontent.com/20904914/170742091-3a4dd332-f887-42e6-b623-4d88fc82efdc.png">

Here you can s

[2022-05-30 03:12] molesmoke commented on #108
@jsuarezruiz Great work, love this project. Long may it continue!

[2022-06-01 12:21] jsuarezruiz commented on #113
We would need a change in .NET MAUI first. Could you open an issue in the MAUI repository?

[2022-06-01 12:46] nacompllo commented on #113
Of course, I've already opened it!
https://github.com/dotnet/maui/issues/7662

[2022-06-01 17:36] hartez commented on #113
It doesn't make sense to modify the placeholder text on the cross-platform IPlaceholder when updating the platform control's text. If you do that, then later if the platform control's text is cleared, the placeholder value will be empty on the platform control.

You probably just need to call `DrawPlaceholder` on the `IEditorDrawable` again to clear out the placeholder text now that the editor has

[2022-06-02 09:24] charlesroddie commented on #85
I don't agree with this at all.

Binding/Event model: not the responsibility of a graphics layer. Dotnet has the ability to allow any binding approach to be specified, in a completely type safe way (i.e. much better than the platforms you mention which all use a pre-generics approach). The graphics layer doesn't need to know about it. It only needs to define settable properties (if mutation is the

[2022-06-02 12:22] robloo commented on #85
You can disagree all you want but I know what a graphics stack should be. If you throw everything into it, it's not a graphics stack anymore and it is instead a framework where you are breaking separation of concerns.

Its good to be optimistic. But looking at what Maui is today, what Microsoft has done in the past, the resources you have on the team, etc I highly doubt you will come anywhere clos

[2022-06-09 02:58] eramrit78 commented on #108
i like this project

[2022-06-09 15:01] tcsaddul commented on #108
Same here. I've been looking for a UI library like this for a long time - no XAML needed.  In the Javascript world, there is QooxDoo UI framework (No HTML/CSS needed) which does the same for a very long time. Unfortunately, the QooxDoo UI is not known to many so it is not very popular but we are very successful with it in all our large software projects.

[2022-06-09 23:46] eramrit78 commented on #1
We want this!

We are looking for Material style controls in MAUI like xamarin. You are doing a nice work. Keep ir up.

[2022-06-15 07:01] #113 closed

[2022-06-27 18:30] stilren opened #115 "Possible to use cupertino datetime picker on Android?"
When I try to force use of Cupertino controls the timepickers do not change. I am guessing this is because its native controls being used. Is this correct or is there a way to use Cupertino timepicker?

[2022-07-07 14:48] jsuarezruiz commented on #115
You can use Cupertino to affect the UI of all the controls. However, there are some "mixed controls". I mean drawn controls but with a native part. DatePicker and TimePicker for now are using the native dialogs to pick a date or time.

![drawn-timepicker-cupertino](https://user-images.githubusercontent.com/6755973/177802930-7e28a7e1-cd04-4cf4-b67e-cd8b0cbc52a3.gif)

[2022-07-09 07:30] aliessmael commented on #108
I like this project

[2022-07-09 14:28] aliessmael commented on #105
Not compiling, I am using this GitHub code ( not able to find NuGet package ) and I have Visual studio 17.3.0 Preview.

[2022-07-14 11:27] Hottemax commented on #108
Looking forward to this project very much, hopefully this will find its way into the default MAUI graphics library.

One question though @jsuarezruiz: Currently I can only build from source, the nuget nightly feed is not working for me?!

[2022-07-18 20:21] KMRH47 commented on #105
Also broken here running VS 2022 Version 17.3.0 Preview 3.0

[2022-07-19 10:31] cyberdarius commented on #108
This is how the real MAUI should be: a real alternative to Flutter.

This project should be absolutely a top priority, together with MAUI Linux host, and MAUI Linux Blazor Hybrid.

[2022-07-19 11:45] #115 closed

[2022-07-30 08:46] timahrentlov commented on #58
I like this idea - and the ramifications it could have.

To have a <Canvas/> component in which with all the drawn controls could be placed. One could use the drawn controls as an alternative to HTML/CSS. For web and hybrid. With a full set of drawn controls (layouts, etc), and a state model closer to that of Flutter, one could almost be tempted to skip standard MAUI for a few projects :)

[2022-08-04 17:08] MattBDev commented on #105
Will this be fixed anytime soon or is the plan to abandon this library and merge it into .NET MAUI?

[2022-08-12 13:26] hintsofttech opened #120 "is this proto-type deprecated ?"
no updates or progress for this project found for a long time.
is this proto-type deprecated ?

[2022-08-13 15:10] IndianaGary commented on #91
Are they related?

From: Denis ***@***.***>
Sent: Thursday, August 11, 2022 5:11 AM
To: dotnet/Microsoft.Maui.Graphics.Controls ***@***.***>
Cc: Gary Lewis ***@***.***>; Comment ***@***.***>
Subject: Re: [dotnet/Microsoft.Maui.Graphics.Controls] Renderer architechure of composable Maui.Graphics.Controls (Issue #91)

Here is also link to Avalonia implementation architecture:
https://dev.to/avalonia

[2022-08-18 13:24] psandgren commented on #108
I join the crowd in wanting this in MAUI. Go go go!

[2022-08-18 21:19] svkgit commented on #108
In my opinion this should be the future direction of MAUI.

[2022-08-20 10:00] progmars commented on #120
Duplicate of #108

[2022-08-21 11:31] jsuarezruiz commented on #120
And for now, only can share the same answer than https://github.com/dotnet/Microsoft.Maui.Graphics.Controls/issues/108#issuecomment-1083109110

Thanks for the interest in the project!

[2022-08-21 11:31] #120 closed

[2022-08-23 07:47] atom2-source opened #121 "Radial knob ui"
Hi
Just noticed when I went to create a radial knob like volume control there isn't any radial knobs in any of the examples there's transform. Rotate and a clock I'll have a play with it this week but dials and gauges would be a sick graphics ui drop.

[2022-09-04 05:07] eiadxp opened #123 "Windows Support?"
Did this project stopped supporting windows after 6.0.101-nightly.250?
Is there any plans to support it back?

Best Regards

[2022-09-09 09:35] KonstantinKellermann commented on #108
In my opinion it is more than necessary. If you look at the numbers of Xamarin.Forms.Visual.Material package: 1.7 million downloads, current version 7.3 thousend downloads.

[2022-09-13 20:26] MattBDev commented on #108
I really hope this project isn't dead. I hope work continues on this project or that it gets merged into the main .NET MAUI project. It would be nice to know which direction this project may be heading in.

[2022-10-04 12:15] jsuarezruiz commented on #121
Do you have a Figma design?. Maybe can try to generate code to help you creating the control https://github.com/jsuarezruiz/figma-to-maui-graphics

In AlohaKit I have Gauges https://github.com/jsuarezruiz/AlohaKit

[2022-10-04 20:56] eiadxp commented on #123
Thanks for the reply 👍

[2022-10-04 20:56] #123 closed

[2022-10-13 06:47] timahrentlov commented on #108
This project and the drawn principles upon which it rests are much needed.

Consider this excellent tabs project https://github.com/roubachof/Sharpnado.Tabs for MAUI. Because of the abstraction principle of MAUI, no desktops (or was even) is supported yet.

The story is the same for other 3rd party controls. It is symptomatic.

With drawn controls, it wouldn't be.

[2022-10-13 07:10] WongResearch commented on #105
Hopefully #106 will make it to the nightly build soon.

For those using the latest nightly build (294) and must target windows you can try excluding it for now for it to compile for ios and android:

![2022-10-13 at 17 09 02](https://user-images.githubusercontent.com/1698569/195526406-47d09bfb-62fd-4a92-9496-39b97c5dec1d.png)

![2022-10-13 at 17 09 38](https://user-images.githubusercontent.com/169

[2022-10-19 00:05] juwens commented on #108
Please continue the work on this project as main project for Maui. It’s currently unbelievable how hard it is, to write controls which look and feel the same on all three platforms (Android, iOS, Windows). And the reason is, that every small information and binding must be projected to a native control, and there is always some unexpected errors in this projections.

Do you want to know which cont

[2022-10-19 14:28] Hottemax commented on #108
Again, bumping and agreeing with everyone above. @jsuarezruiz, you see that users really like this project and what it brings to the MAUI ecosystem.
Would you mind giving us a quick update what the MAUI team' s plan regarding this project or related functionality looks like? We are kind of in the dark here, this project is in the github.com/dotnet namespace, and you are a XF team member, but there

[2022-10-19 19:09] mtanml opened #127 "Editor placeholder text remains in view when text is typed"
Placeholder text within an Editor control is not hidden when text is typed.   Thanks

[2022-10-19 19:10] mtanml opened #128 "Editor: FontAutoScalingEnabled="False" is not applied"
I have set FontAutoScalingEnabled="False" on my Editor controls, but the font size is still affected by the Android OS setting.  Thanks

[2022-10-24 09:24] jsuarezruiz commented on #108
I would love to share more details or information,  but I have nothing new to share. I really think that having drawn pixel perfect controls has potential, I continue to experiment with ideas (templated drawn controls in AlohaKit https://github.com/jsuarezruiz/AlohaKit) or tooling (figma to Maui Graphics https://github.com/jsuarezruiz/figma-to-maui-graphics). In this library I am pending to solve

[2022-10-24 09:58] juwens commented on #108
@jsuarezruiz thanks for giving us an update, even if there is not much new information. It's always helpful, to see that there is still (at least some) "life" in it. 👍
Sad to hear, that the PMs don't see this as an important topic for MAUI :-/

[2022-10-24 11:23] Hottemax commented on #108
Thanks @jsuarezruiz for your response and all your work, also glad to see that this is not abandoned. I hope the PMs will listen that this has a higher priority since it affects nearly everyone designing a MAUI UI. In my opinion, it should be given at least more weight than some of the more niche improvements talked about in recent .NET MAUI podcasts.

I really think that entries/text fields as sh

[2022-10-30 19:14] KSemenenko commented on #78
Maybe tap area is to small?

[2022-10-30 19:16] KSemenenko commented on #1
Layout system, we have implement layout system :)

[2022-11-08 19:14] affableashish commented on #108
I love this so much! And '_From Figma to AlohaKit UI_' is amazing! 🔥🤩
I hope it gets out of Experimental phase soon. 😊

[2022-11-08 19:27] affableashish commented on #1
I love this so much! And 'From Figma to AlohaKit UI' is amazing! 🔥🤩
I hope it gets out of Experimental phase soon. 😊

[2022-11-14 10:06] Laurent0506 commented on #1
Great work.
Windows is missing for me in the NuGet package

![image](https://user-images.githubusercontent.com/71120618/201632235-1c6886b4-3636-446e-bf35-cd5a27003ade.png)

[2022-11-24 17:14] redradist commented on #91
@IndianaGary

Links are not available for now

[2022-11-24 20:23] IndianaGary commented on #91
Maui does not use renderers, it uses handlers. That said, Javier has a library showing how to draw controls here: https://github.com/jsuarezruiz/AlohaKit.Controls

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Denis ***@***.***>
Sent: Thursday, November 24, 2022 9:28:43 AM
To: dotnet/Microsoft.Maui.Graphics.Controls ***@***.***>
Cc: Gary Lewis ***@***.***>;

[2022-11-24 21:06] redradist commented on #91
@IndianaGary Okay, it does not matter how it is called in MAUI ...
Something that allow to draw composition controls, when on inside of another one

[2022-11-25 07:49] IndianaGary commented on #91
See the referenced library...